* {
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
}
/*sidebar menu */
.menu-list {
  list-style-type: none;
}
.menu-list a {
  text-decoration: none;
  color: #707070;
}
.dashboardlogo:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-out;
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 20%);
}
