* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
}

/*sidebar menu */
.sidebarMenu {
  background-color: #f4f6f6;
}
.menu-list {
  list-style-type: none;
}
.menu-list li {
  margin-top: 6px;
}
.menu-list a {
  text-decoration: none;
  color: #707070;
}
.dashboardlogo:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-out;
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 20%);
}
/* header */
.username {
  color: #fd9191;
}
